body {
	margin: 0;
	background-color: #303030;
	color: whitesmoke;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
    position: relative;
	margin: 0;
	padding: 10px;
	background-color: #3f3f3f;
	text-align: center;
}

.container {
	padding: 10px;
}

.button {
	margin: 5px;
	background: green;
	padding: 10px 15px;
	color: whitesmoke;
	border: none;
	border-radius: 10px;
	outline: none;
    font-weight: 600;
}

.greet {
	color: orangered;
	font-size: large;
}

.container input {
    padding: 5px;
    height: 20px;
    min-width: 200px;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    background: #303030b5;
    border: 1px solid rgb(190, 185, 185);
    color: whitesmoke;
    letter-spacing: 1.5px;
    margin-right: 10px;
}

.container input:focus {
    background-color: #1f1f1f;
}

.countdown {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header .countdown {
    position: absolute;
    right: 50px;
    top: 10px;
}

tr th {
    padding: 3px 10px;
}

table td {
    background-color: #373636;
    border-top: 1px solid wheat;
    border-left: 1px solid wheat;
    border-right: 1px solid wheat;
    border-collapse: collapse;
    border-radius: 10px;

}
table th {
    border-bottom: 1px solid wheat;
    border-left: 1px solid wheat;
    border-right: 1px solid wheat;
    border-collapse: collapse;
    border-radius: 10px;
}

.count {
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 10px;
}

.posts {
    max-width: 100%;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #1f1f1f;
}

.posts h3 {
    color: wheat;
}